:root{
    --greyblue: #3c4b5c;
    --darkergrey: #303c4a;
}

.close {
    display: flex;
    flex-direction: row-reverse;
}

.link-wrapper {
    padding: .5rem 2.5rem;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.link-wrapper:hover {
    background: var(--darkergrey);
    transition: background-color 500ms; 
}

.depth-1 {
    padding-left: 3rem;
}

a.active {
    color: #7ea7e0;
}