:root{
    --greyblue: #3c4b5c;
    --darkergrey: #303c4a;
}

.sidebar{
    background-color: var(--greyblue);
    height: auto;
}

.sidebar > ul{
    list-style-type: none;
    padding: 0;
    margin-top: 1.5rem;
}

.link-wrapper {
    padding: .5rem 2.5rem;
}

.link-wrapper:hover {
    background: var(--darkergrey);
    transition: background-color 500ms; 
}

a.active {
    color: #9dd18c;
}