:root{
    --greyblue: #3c4b5c;
    --darkergrey: #303c4a;
}

.close {
    display: flex;
    flex-direction: row-reverse;
}

.link-wrapper {
    padding: .5rem 2.5rem;
    display: flex;
}

.link-wrapper:hover {
    background: var(--darkergrey);
    transition: background-color 500ms; 
}

a.active {
    color: #9dd18c;
}